<div class="header">
  <div class="header_icon">
    <img src="/assets/img/logo-64x64.png" alt="Logo">
    <img src="/assets/img/name-fff.png" alt="Dubuni">
  </div>
  <div class="header_user" *ngIf="user">
    <object type="image/svg+xml" data="/assets/img/user.svg" width="64" height="64">
      <img src="/assets/img/user.png" width="64" height="64" alt="image format png" />
    </object>
    <div class="header_user_info">
      <h1>{{user.FIO}}</h1>
      <h2>{{userRolesDesc[user.Role]}}</h2>
    </div>
  </div>
  <div class="header_user header_user__login" *ngIf="!isAuth && !user" (click)="LogIn()">
    <object type="image/svg+xml" data="/assets/img/login.svg" width="64" height="64" style="pointer-events: none;">
      <img src="/assets/img/login.png" width="64" height="64" alt="image format png" />
    </object>
    <div class="header_user_info">
      <h1>Добро пожаловаться</h1>
      <h2>Гость</h2>
    </div>
  </div>
</div>
<div class="main">
  <div class="menu" *ngIf="!isAuth">
    <div class="menu_list">
      <div class="menu_element"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <img src="/assets/icons/home.png" width="64" height="64" alt="image format png" />
      </div>
      <div class="menu_element"
        *ngIf="user && (user.Role === 'admin' || user.Role === 'teacher')"
        routerLink="/news-admin"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <!-- news-admin -->
        <img src="/assets/icons/news.png" width="64" height="64" alt="image format png" />
      </div>
      <div class="menu_element"
        routerLink="/schedule"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <!-- schedule -->
        <img src="/assets/icons/schedule.png" width="64" height="64" alt="image format png" />
      </div>
      <div class="menu_element"
        *ngIf="user"
        routerLink="/courses"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <!-- courses -->
        <img src="/assets/icons/subjects.png" width="64" height="64" alt="image format png" />
      </div>
      <div class="menu_element"
        *ngIf="user"
        routerLink="/main"
        routerLinkActive="active" >
        <!-- main -->
        <img src="/assets/icons/workspace.png" width="64" height="64" alt="image format png" />
      </div>
      <div class="menu_element"
        *ngIf="user"
        routerLink="/dialogs"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <!-- dialogs -->
        <img src="/assets/icons/dialogs.png" width="64" height="64" alt="image format png" />
      </div>
      <div class="menu_element"
        *ngIf="user && (user.Role === 'admin' || user.Role === 'teacher')"
        routerLink="/telegram"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <!-- telegram -->
        <img src="/assets/icons/telegram.png" width="64" height="64" alt="image format png" />
      </div>
    </div>
    <div class="menu_element menu_element__logout" (click)="LogOut()" *ngIf="user">
      <!-- logout -->
      <img src="/assets/icons/exit.png" width="32" height="32" alt="image format png" />
    </div>
  </div>
  <div class="body" [class.body_auth]="isAuth">
    <router-outlet></router-outlet>
  </div>
</div>
