<div class="login-form">
  <img src="assets/img/uni-dubna.jpg" alt="uni-dubna">
  <h2>Добро пожаловать</h2>
  <form action="" class="layout-column" (submit)="Login()">
    <mat-form-field>
      <input matInput type="text"
          placeholder="Логин"
          [(ngModel)]="login"
          [ngModelOptions]="{standalone: true}"
          required
        >
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password"
          placeholder="Пароль"
          [(ngModel)]="password"
          [ngModelOptions]="{standalone: true}"
          required
        >
    </mat-form-field>
    <!-- <button>Войти</button> -->
    <button mat-raised-button class="mat-primary">Войти</button>
    <a routerLink="/" style="align-self: center;">На главную</a>
  </form>
</div>
