/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./angular-material.layouts.min.css";
@import "./variable.less";
@import "./styles/admin-table.less";
@import "./styles/material-override.less";

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

html {
    background-color: @color-primary;
}

body {
    background: linear-gradient(110deg, fade(@color-background, 65%) 5%, fade(@color-background, 35%) 95%);
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    margin: calc(@base-gap / 2);
    padding: 0;
}

h1 {
    font-size: @font-size-h1;
    font-weight: 700;
}
h2 {
    font-size: @font-size-h2;
    font-weight: 700;
}
h3 {
    font-size: @font-size-h3;
    font-weight: 700;
}
p {
    font-size: @font-size;
    color: @color-font;
    line-height: @font-size;
    font-weight: 400;
    padding: 0;
    margin: calc(@base-gap) calc(@base-gap / 2);
}
span {
    font-size: @font-size-mini;
    color: @color-font;
    font-weight: 400;
}
label {
    font-size: @font-size-mini;
    color: @color-font-secondary;
    font-weight: 700;
    margin: 0;
    margin-left: calc(@base-gap * 2);
}

.mat-tab-label {
    display: flex;
    flex: 1 1 auto;
}
.mat-tab-body-wrapper {
    flex: 1 1 auto;
    .mat-tab-body {
        display: flex;
        .mat-tab-body-content {
            display: flex;
            flex: 1 1 auto;
        }
    }
}

.mat-fab {
    height: 40px !important;
    width: 40px !important;

    mat-icon {
        font-size: 14px;
    }
    
    .mat-button-wrapper {
        padding: 14px 0 !important;
        display: flex !important;
        justify-content: center !important;
    }
}

.admin-form__button {
    margin: 16px !important;
}